body{
  font-family: Arial, sans-serif;
  background-color: turquoise;
  margin:0;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}
nav{
  background-color: pink;
  padding: 5px;
  margin-left: 150px;
}
nav a {
 color: black;
  background-color: lightgreen;
  margin: 0 5px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid white;
  padding: 10px 15px;
}
nav a:hover{
  text-decoration: underline;
}
.container{
  padding: 10px 20px 40px;
}
h1{
  color: brown;
  text-align: center;
  margin-top: 15px;
}
img{
  max-width: 75%;
  border-radius: 7px;
  margin-top: 30px;
}
Video{
  width: 50%;
  border-radius: 7px;
  margin-top: 20px;
 margin-left: 250PX;
}
footer{
  background-color: revert;
  color: white;
  padding: 10px;
}

p{
  background-color: aquamarine;
  padding: 20px 20px;
}