body{
  font-family: Arial, sans-serif;
  background-color: turquoise;
  margin:0;
  margin-left: 15px;
  margin-right: 15px;
}
nav{
  background-color: pink;
  padding: 10px;
  margin-left: 150px;
  margin-top: 10;
}
nav a{
  color: black;
  background-color: lightgreen;
  margin: 0 5px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid white;
  padding: 10px 15px;
}
nav a:hover{
  text-decoration: underline;
}
.container{
  padding: 10px 20px 40px;
}
h1{
  color: brown;
  text-align: center;
  background-color: aquamarine;
  height: 75px;
  padding: 25px 25px;
}

img{
  margin-left: 80px; 
  padding: 50px 50px;
}

img{
  max-width: 75%;
  border-radius: 7px;
  margin-top: 20px;
}

footer{
  background-color: revert;
  color: white;
  padding: 10px;
}

p{
  background-color: aquamarine;
  padding: 25px 25px;
  text-decoration: none;
}

h3{
  background-color: lightgreen;
  padding: 25px 25px;
}

a{
  text-decoration: none;
}